
@model List<Item>
@inject StarboundRecipeBook2.Services.ITextColorResolver ColorResolver

@{ ViewData["Title"] = "Items"; }

@foreach (var item in Model)
{
	<a asp-action="Item" asp-controller="Items" asp-route-itemId=@item.ItemId asp-route-modId=@item.SourceModId>
		<div class="itemDataContainer">
			@await Component.InvokeAsync("ItemIcon", item)
			@Html.Raw(@ColorResolver.ResolveColor(item.ShortDescription))
		</div>
	</a>
}