@model Item

@{
	<a class="ItemReferenceDisplayLink" asp-controller="Items" asp-action="Item" asp-route-itemId="@Model.ItemId" asp-route-modId="@Model.SourceModId">
		<div class="ItemReferenceDisplay InlineBlockDiv">
			@await Component.InvokeAsync("ItemIcon", Model)
			@await Component.InvokeAsync("ColoredText", Model.ShortDescription)
		</div>
	</a>
}