@model Item

@{
	<a class="ItemReferenceDisplayLink" asp-controller="Items" asp-action="Item" asp-route-itemId="@Model.ID.ItemId" asp-route-modId="@Model.ID.SourceModId">
		<div class="ItemReferenceDisplay InlineBlockDiv">
			@await Component.InvokeAsync("ItemIcon", Model)
			@Model.ShortDescription
		</div>
	</a>
}