@model string
@inject StarboundRecipeBook2.Services.IItemRepository ItemRepo

@{
	var itemList = ItemRepo.GetItemsByInternalName(Model);

	if (itemList.Count > 0)
	{
		//Using an iterator because there may be a case of an item and an object with the same name but different otherwise.
		foreach (var item in itemList)
		{
			<a class="ItemReferenceDisplayLink" asp-controller="Items" asp-action="Item" asp-route-itemId="@item.ItemId" asp-route-modId="@item.SourceModId">
				<div class="ItemReferenceDisplay InlineBlockDiv">
					@await Component.InvokeAsync("ItemIcon", item)
					@await Component.InvokeAsync("ColoredText", item.ShortDescription)
				</div>
			</a>
		}
	}
	else
	{
		<div class="ItemReferenceDisplay InlineBlockDiv NonexistentItem">
			@Model
		</div>
	}
}